* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-style: normal;
}


/* header-section start here */




.header-section {

    
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: #2E2E2E; */

background-color: #151817;


}

.logo {
    display: flex;

    font-size: 50px;
    padding: 20px;

    /* color: #2E2E2E; background-color:  hobe ai color; */

    color: #E1AD01;

}

.logo h1 {
    font-size: 45px;
    padding-left: 20px;
}

.menu {

    display: flex;
    gap: 20px;
    align-items: center;
}

.nav {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 20px;




}

a {
    text-decoration: none;
    color: whitesmoke;
}

.btn {
    padding: 10px 20px;
    background-color: #E1AD01;
    border: none;
    color: whitesmoke;
    font-size: 20px;
    cursor: pointer;



}

a:hover {
    color: #E1AD01;

}
#home{
    
background-color: #E1AD01;
padding: 5px 5px;

}

/* hero-section starts here */

.hero-section {

    display: flex;
    width: 100%;
    background-color: #151817;
    justify-content: space-between;
    align-items: center;
    
}

.text-heading {
   

    color: whitesmoke;
    width: 40%;
    text-align: center;
    
   
}

.btn-new  {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
   
}



.hero-image {
    width: 58%;
    height: 100vh;
    background-image: url("../resturantlandingpage/images/hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  




}


 
