* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-style: normal;
}


/* header-section start here */


.wrapper {

    max-width: 1200px;
    margin: 0 auto;


}
header{
    position: sticky;
    top:0;

}
.header-section {

    
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: #2E2E2E; */

    background-color: #151817;


}

.logo {
    display: flex;

    font-size: 50px;
    padding: 20px;

    /* color: #2E2E2E; background-color:  hobe ai color; */

    color: #E1AD01;

}

.logo h1 {
    font-size: 45px;
    padding-left: 20px;
}

.menu {

    display: flex;
    gap: 20px;
    align-items: center;
}

.nav {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 20px;




}

a {
    text-decoration: none;
    color: whitesmoke;
}

.btn {
    padding: 10px 20px;
    background-color: #E1AD01;
    border: none;
    color: whitesmoke;
    font-size: 20px;
    cursor: pointer;



}

a:hover {
    color: #E1AD01;

}

#home {

    background-color: #E1AD01;
    padding: 5px 5px;

}

/* hero-section starts here */

.hero-section {

    display: flex;
    width: 100%;
    background-color: #151817;
    justify-content: space-between;
    align-items: center;

}

.text-heading {


    color: whitesmoke;
    width: 40%;
    text-align: center;


}

.btn-new {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;

}



.hero-image {
    width: 58%;
    height: 100vh;
    background-image: url("../resturantlandingpage/images/hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;





}



/* card section start here */

.card-container {

    display: flex;
    justify-content: flex-start;
    gap: 40px;



}

.card {



    width: 250px;
    height: 250px;
    box-shadow: 0 20px 10px 2px rgba(0, 0, 0, 0.3);
    text-align: center;
    animation: cardanimation 5s ease-in-out 0s 1 normal forwards;

}

i {
    font-size: 50px;
    color: #E1AD01;

}


@keyframes cardanimation {

    0% {
        transform: translatey(500px);
    }

    100% {}

}

/* card -section end here */

/* start about us section */

.about-us {
    margin-top: 40px;

    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;










}

.about-gallery {


    display: flex;
    width: 50%;
    gap: 10px;


}





img {
    /* display: block; */
    width: 250px;
    height: 250px;
    object-fit: cover;





}

.aboutUs-heading {
    margin-bottom: 500px;
    width: 50%;
    font-style: italic;


}

#line {
    font-style: italic;

}


#line::after {
    content: "";
    display: inline-block;
    width: 20px;
    background-color: #E1AD01;
    margin-left: 20px;
    height: 2px;


}

.paragraph {

    line-height: 1.4;
}


.experience {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vertical-line {
    /* width: 50px; */
    margin-top: 10px;
    display: inline;

    border: 5px solid yellow;
}

.chefs {
    display: flex;
    justify-content: space-around;
}

#ex-heading {
    display: inline;
    padding: 10px;
}

.arrow {
    /* width: 20px; */
    font-size: 70px;
    box-shadow: 10px 10px 5px 2px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.food-menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-items{
     cursor: pointer;
    display: flex;
  
    
}

.menu-items >div{
    margin: 20px;
}

#main-items{
   
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr; */
}




/* table section start here */
.table-section{
    display: flex;
    justify-content: space-between;
}



.table-form{
    background-color: #0E1828;
    color: white;
}
.inputs{
    display: flex;
    justify-content: space-between;
}

input{
    width: 150px;
    padding: 10px 0;
    margin: 10px;
    /* border: 2px solid yellow; */
   
}

textarea{
    width: 330px;
    margin-left: 10px;
    padding: 20px;
}
.button{
    margin: 10px;
    width: 327px;
    height: 100px;

}